<div
  class="flex w-[250px] flex-col gap-5 align-middle justify-center h-full bg-white"
>
  <a
    mat-button
    href="/people"
    class="text-center flex justify-center align-top gap-2"
  >
    <mat-icon>people</mat-icon>
    <nav>Personas</nav>
  </a>
  <a
    mat-button
    href="/workshops"
    class="text-center flex justify-center align-top gap-2"
  >
    <mat-icon>casino</mat-icon>Talleres
  </a>
  <a
    mat-button
    href="/inscriptions"
    class="text-center flex justify-center align-top gap-2"
  >
    <mat-icon>description</mat-icon>Inscripciones
  </a>
</div>
