<div>
  <div class="flex justify-between items-center mb-5">
    <button mat-raised-button color="accent" (click)="openDialog()">
      <mat-icon>add</mat-icon>Agregar
    </button>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Nombre" value="" />
      </mat-form-field>
    </form>
  </div>
    
</div>

@if(peopleResult$ | async; as resultObject ){
  <ul>
    @for (item of resultObject.data; track $index) {
      <li>{{item.personname}}</li>
    }
  </ul>
}
